<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Help Your Community
            <br/>
            Make a Donation Today
        </h2>
        <p>
            Your support can make a real difference! Click the button now to help us bring positive change to those who need it most. Every donation counts—be a part of something impactful today!
        </p>
        <a href="../contact" class="cs-button-solid">Donate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="../assets/images/Gallery/Bowling-For-Autism/Bowling.jpeg">
        <source media="(min-width: 601px)" srcset="../assets/images/Gallery/Bowling-For-Autism/Bowling3.jpeg">
        <img aria-hidden="true" decoding="async" src="../assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>