---
title: 'Project One | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'gallery-one/'
eleventyNavigation:
    key: Gallery One
    order: 3100
    parent: Gallery
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/gallery.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Backpack Drives</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack1.jpeg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack1.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack1.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Gallery/Backpack-Drives/Backpack1.jpeg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack2.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack2.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Gallery/Backpack-Drives/Backpack2.jpeg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack3.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack3.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Gallery/Backpack-Drives/Backpack3.jpeg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack4.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack4.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Gallery/Backpack-Drives/Backpack4.jpeg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack5.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack5.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Gallery/Backpack-Drives/Backpack5.jpeg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack6.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack6.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Gallery/Backpack-Drives/Backpack6.jpeg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack7.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack7.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Gallery/Backpack-Drives/Backpack7.jpeg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Gallery/Backpack-Drives/Backpack.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Gallery/Backpack-Drives/Backpack.jpeg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
            <a href="/about" class="cs-button-solid">Learn more</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}